<!DOCTYPE html>
<html>

<head>
    <title>Insta485</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <div class="logo">
            <a href="/">Home</a>
        </div>
        <div>
            <strong><a href="/explore/">explore</a></strong> |
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
    </div>

    <div id="reactEntry">
        Loading ...
      </div>
      <!-- Load JavaScript -->
      <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
      
</body>

</html>
