<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body>
    <div>
        <div class="logo">
            <a href="/">Home</a>
        </div>
        <div>
            <strong><a href="/explore/">Explore</a></strong>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
    </div>
    
    <!-- DO NOT CHANGE THIS -->
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <div>Old Password</div><input type="password" name="password" required/>
        <div>New Password</div><input type="password" name="new_password1" required/>
        <div>New Password Again</div><input type="password" name="new_password2" required/>
        <input type="submit" name="update_password" value="Submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>

    <p><a href="/accounts/edit/">Back to Edit Account</a></p>
</body>
</html>
